@import "tailwindcss";
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

@layer components {

  @keyframes fade-out2 {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  .chat-header-out {
    animation: fade-out2 0.5s ease-in-out forwards; 
  }

  @keyframes flex-out {
    0% {
      flex: 0 1 0;
    }
    100% {
      flex: 1;
    }
  }
  .flex-out {
    animation: flex-out 0.5s ease-in-out forwards;
  }

  .message-in {
    animation: fade-in-bt 0.5s ease-in-out forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fade-in {
    animation: fade-in 1s ease-in-out forwards;
  }

  @keyframes chat-header-in {
    0% {
      opacity: 0;
      transform: translateY(100%) scale(1);
    }
    50% {
      transform: scale(1.1);
      -webkit-filter:blur(2px);
    }
    75% {
      transform: translateY(0) scale(1) blur(0px);
    }
    100% {
      opacity: 1;
      -webkit-filter: blur(0px);
    }
  }
  .chat-header-in {
    animation: chat-header-in 1s ease-in-out;
  }

  @keyframes chat-box-in {
    0% {
      width: 20%;
      opacity: 0;
      /* transform: translateY(50%); */
    }
    100% {
      width: 40%;
      opacity: 1;
      visibility: visible;
      /* transform: translateY(0); */
    }
  }
  .chat-box-in {
    visibility: hidden;
    animation: chat-box-in 0.5s ease-in-out forwards 1s;
  }
}