@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-primary: 'Inter', sans-serif;
  --color-bg-body: radial-gradient(circle at 50% 50vh, rgb(184, 255, 255) 0%, rgba(255, 255, 255, 1) 1000px);
  --animate-fade-in-tb: fade-in-tb 0.6s ease-in-out forwards;
  @keyframes fade-in-tb {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  --animate-pop-over-in-desktop: pop-over-in-desktop 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  @keyframes pop-over-in-desktop {
    0% {
      transform: translateY(-100px);
      max-height: 0px;
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      filter: blur(0);
      max-height: 100vh;
      opacity: 1;
    }
  }
  --animate-pop-over-out-desktop: pop-over-out-desktop 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  @keyframes pop-over-out-desktop {
    0% {
      transform: translateY(0);
      max-height: 100vh;
      opacity: 1;
    }
    100% {
      transform: translateY(-100px);
      max-height: 0px;
      opacity: 0;
    }
  }
  --animate-pop-over-in-mobile: pop-over-in-mobile 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  @keyframes pop-over-in-mobile {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  --animate-pop-over-out-mobile: pop-over-out-mobile 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  @keyframes pop-over-out-mobile {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.dark {
  --color-bg-body: radial-gradient(circle at 50% 50vh, rgba(0,35,35,1) 0%, rgba(0,0,0,1) 1000px);
}

html {
  scroll-padding-top: 6rem;
}

body {
  overflow-x: hidden;
  background: var(--color-bg-body);
}

@layer components {
  
  /* Animation for the Sections */
  @keyframes fade-in-rl {
    from {
      opacity: 0;
      transform: translateX(50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .fade-in-rl { 
    animation: fade-in-rl 0.3s ease-in-out forwards; 
  }

  @keyframes fade-out-lr {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(50%);
    }
  }
  .fade-out-lr{
    animation: fade-out-lr 0.2s ease-in-out forwards;
  }

  @keyframes fade-in-lr {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .fade-in-lr {
    animation: fade-in-lr 0.3s ease-in-out forwards;
  }

  @keyframes fade-out-rl {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-50%);
    }
  }
  .fade-out-rl{
    animation: fade-out-rl 0.2s ease-in-out forwards;
  }

  /* Animation for the Explore Button */
  @keyframes bounce-2 {
    0% { 
      transform: translateY(0); /* Start from where fadeInVertical ends */
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% { 
      transform: translateY(-25%); /* Move downward first */
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    100% { 
      transform: translateY(0); /* Return to starting position */
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  @keyframes fade-in-bt {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }
  .fade-in-bounce {
    visibility: hidden;
    animation: fade-in-bt 0.5s ease-in-out forwards 1.5s, 
               bounce-2 1s ease-in-out infinite 1.5s;
  }

  @keyframes fade-out-bt {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-50%);
    }
  }
  .fade-out-bt {
    animation: fade-out-bt 0.5s ease-in-out forwards;
  }

  /* Animation for the NavBar Elements */
  @keyframes scale-up-hor-right {
    0% {
      transform: scaleX(0);
      transform-origin: 100% 100%;
    }
    100% {
      transform: scaleX(1);
      transform-origin: 100% 100%;
    }
  }
  .scale-up-hor-right {
    animation: scale-up-hor-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 0.5s;
  }

  @keyframes slide-tl {
    0% {
      opacity: 0;
      transform: translateY(20px) translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0);
    }
  }
  .slide-tl-1 {
    animation: slide-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.7s;
  }
  .slide-tl-2 {
    animation: slide-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.9s;
  }
  .slide-tl-3 {
    animation: slide-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 1.1s;
  }
  .slide-tl-4 {
    animation: slide-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 1.3s;
  } 
}

/* Animation for the PopOver */





.pulse {
  --pulse-color: rgba(0, 0, 0, 0.4); /* overrides in dark mode */
  animation: pulse-animation 1.5s infinite;
}

.dark .pulse {
  --pulse-color: rgba(255, 255, 255, 0.4); /* default for light mode */
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px var(--pulse-color);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); /* fade to 0 either way */
  }
}

/* Animation for the NavBar Elements */
@keyframes fade-in-nav {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translate(0);
  }
}

.fade-in-nav {
  animation: fade-in-nav 0.3s ease-in-out forwards;
}

@keyframes fade-out-nav {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.fade-out-nav {
  animation: fade-out-nav 0.3s ease-in-out forwards;
}