---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Projects from '../components/Projects.astro';
---

<Layout>
  <div class="border border-gray-400 flex h-screen w-full rounded-lg">

  </div>

  <div class="flex gap-22 px-22">
    <Header/>
    <main class="py-16 flex flex-col gap-16 w-[60%]">
      <About/>
      <Experience/>
      <Projects/>
      <Education/>
    </main>
  </div>
</Layout>
