---
---
<section id="About" class="flex flex-col gap-4 mt-24">
  <h1 class="text-3xl font-bold dark:text-white">About</h1>
  <p class="text-gray-700 dark:text-gray-400">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quia.
    Voluptate cupidatat labore id et in ex sit. Anim ullamco labore mollit commodo veniam culpa. Ea irure id sit enim ea labore in id laborum ullamco labore consectetur mollit. Ea commodo tempor dolor nostrud cupidatat veniam mollit eiusmod mollit.
    Aute sunt commodo amet anim elit velit. Aliquip elit et dolore exercitation nostrud velit velit aliquip officia minim elit. Ullamco irure veniam ut commodo qui pariatur consectetur pariatur mollit reprehenderit id nostrud excepteur. Consectetur exercitation commodo ipsum sint. Do minim eiusmod fugiat enim dolore qui esse duis qui minim nisi nulla eiusmod non. Dolor commodo magna officia culpa esse culpa reprehenderit officia.
  </p>
</section>