---
---
<section id="About" class="flex flex-col gap-4">
  <h1 class="text-4xl font-bold">About</h1>
  <p class="text-md prose dark:prose-invert">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quia.
    Voluptate cupidatat labore id et in ex sit. Anim ullamco labore mollit commodo veniam culpa. Ea irure id sit enim ea labore in id laborum ullamco labore consectetur mollit. Ea commodo tempor dolor nostrud cupidatat veniam mollit eiusmod mollit.
    Aute sunt commodo amet anim elit velit. Aliquip elit et dolore exercitation nostrud velit velit aliquip officia minim elit. Ullamco irure veniam ut commodo qui pariatur consectetur pariatur mollit reprehenderit id nostrud excepteur. Consectetur exercitation commodo ipsum sint. Do minim eiusmod fugiat enim dolore qui esse duis qui minim nisi nulla eiusmod non. Dolor commodo magna officia culpa esse culpa reprehenderit officia.
    Ad non magna dolore in velit. Do tempor ex dolore sunt. Anim cupidatat elit mollit Lorem mollit tempor laborum. Pariatur enim amet ea esse incididunt ipsum. Labore ullamco enim labore dolor consequat veniam adipisicing irure.
    Do voluptate qui occaecat dolore. Culpa anim labore sit incididunt consequat nisi id dolore ipsum cupidatat elit et aliqua ea. Nostrud mollit irure sint dolore tempor ut labore est aute Lorem et magna fugiat ad. Laborum qui anim cillum Lorem id fugiat ea.
    Aute nostrud commodo elit labore aliquip consectetur pariatur eu voluptate. Commodo mollit dolore veniam commodo tempor aute laboris amet nisi elit est. Do dolore ex commodo ex occaecat nostrud ipsum ipsum aliqua laboris.
  </p>
</section>