---

---

<section id="Education" class="flex flex-col gap-4 animate-fadeIn">
  <h1 class="text-4xl font-bold mb-6">
    Education
  </h1>
  <p class="prose dark:prose-invert">
    Magna consectetur nostrud elit ullamco fugiat. Excepteur magna ea commodo sint dolor dolor ullamco. Ipsum dolor irure dolore cupidatat Lorem aute cupidatat officia.

Ut nostrud cupidatat nulla eiusmod incididunt. Ullamco aute Lorem Lorem anim non eiusmod ea anim magna velit nisi nisi. Do id Lorem sint ad officia minim ad anim. Incididunt incididunt cillum occaecat nisi nisi cillum veniam commodo deserunt duis esse occaecat. Incididunt enim eu reprehenderit proident anim voluptate irure sit pariatur in.

Cupidatat ut labore mollit consequat. Esse sint ipsum proident id in velit est. Exercitation amet aliquip incididunt pariatur. Id velit sunt cupidatat elit culpa. Duis eu id id dolore nisi irure duis culpa nulla ad ipsum.

Sint do magna occaecat exercitation magna esse ea minim cupidatat. Et ex voluptate mollit est ipsum. Non exercitation eiusmod aliquip id velit Lorem anim laboris fugiat eiusmod.
  </p>
</section>
