---
import MyLogo from "../icons/MyLogo.astro";
---

<nav class="sticky top-0 h-16 flex items-center justify-between px-10 py-2 fade-in-tb w-full bg-[#001c1b] text-white md:bg-transparent md:pt-5 z-[1000] md:absolute">
  <!-- Logo -->
  <div class="text-md top-0 font-bold p-1 m-0 border-2 border-gray-300 rounded-xl text-gray-300 hover:text-gray-900 hover:bg-gray-200">
    <MyLogo class="h-6 w-6 md:h-8 md:w-8"/>
  </div>

  <!-- Desktop Navbar -->
  <div id="desktop-menu" class="hidden md:flex absolute left-1/2 transform -translate-x-1/2 scale-up-hor-right mt-2.5">
    <ul
      class="flex gap-10 rounded-lg bg-[#33333314] px-6 py-2 text-xs items-center justify-center shadow-[0px_0px_4px_rgba(200,200,200,0.7)]"
    >
      <li class="slide-tl-1">
        <a href="#About" class="py-2 hover:[text-shadow:0px_0px_10px_#31b9b4] hover:text-[#31b9b4]">About</a>
      </li>
      <li class="slide-tl-2">
        <a href="#Experience" class="py-2 hover:[text-shadow:0px_0px_10px_#31b9b4] hover:text-[#31b9b4]">Experience</a>
      </li>
      <li class="slide-tl-3">
        <a href="#Projects" class="py-2 hover:[text-shadow:0px_0px_10px_#31b9b4] hover:text-[#31b9b4]">Projects</a>
      </li>
      <li class="slide-tl-4">
        <a href="#Education" class="py-2 hover:[text-shadow:0px_0px_10px_#31b9b4] hover:text-[#31b9b4]">Education</a>
      </li>
    </ul>
  </div>

  <!-- Mobile Navbar Button -->
  <button id="menu-toggle" class="md:hidden focus:outline-none text-gray-300">
    <svg class="h-8 w-8" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
      <path d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>

  <!-- Mobile Navbar -->
  <div id="mobile-menu" class="absolute top-full right-0 w-screen  h-screen p-10 bg-[#001c1b] text-white hidden flex-col items-center gap-4 py-5 shadow-lg">
    <a href="#About" class="block py-2">About</a>
    <a href="#Experience" class="block py-2">Experience</a>
    <a href="#Projects" class="block py-2">Projects</a>
    <a href="#Education" class="block py-2">Education</a>
    <a href="/" class="block py-2 bg-gray-200 text-black px-3 rounded-full">Contact Me</a>
  </div>

  <!-- Contact Button -->
  <div class="hidden md:block rounded-full px-3 py-1 bg-gray-200">
    <a href="/" class="text-sm font-bold text-black"> Contact Me </a>
  </div>
</nav>

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  menuToggle?.addEventListener('click', () => {
    mobileMenu?.classList.toggle('hidden');
  });
  mobileMenu?.addEventListener('click', (e) => {
    mobileMenu?.classList.toggle('hidden');
  });
</script>