---
import ContactCard from "./ContactCard.astro";
import ThemeToggle from "./ThemeToggle.astro";
import ThemeToggleMobile from "./ThemeToggleMobile.astro";
---

<nav class="fixed top-0 flex items-center justify-between md:animate-fade-in-tb px-10 py-3 w-screen bg-teal-600 dark:bg-[#191919] md:dark:bg-transparent md:bg-transparent dark:text-white text-gray-800 md:pt-5 md:pb-0 z-[1000] md:relative">

  <ContactCard/>

  <!-- Desktop Navbar -->
  <div id="desktop-menu" class="hidden md:flex absolute left-1/2 transform -translate-x-1/2 scale-up-hor-right mt-2.5">
    <ul
      class="flex gap-10 rounded-lg bg-[#33333314] px-6 py-2 text-xs items-center justify-center shadow-[0px_0px_4px_rgba(50,50,50,0.5)] dark:shadow-[0px_0px_4px_rgba(200,200,200,0.7)]"
    >
      <li class="slide-tl-1 hover:scale-115 transition-all duration-100">
        <a href="#About" class="hoverable py-2 transition-all duration-100">About</a>
      </li>
      <li class="slide-tl-2 hover:scale-115 transition-all duration-100">
        <a href="#Experience" class="hoverable py-2 transition-all duration-100">Experience</a>
      </li>
      <li class="slide-tl-3 hover:scale-115 transition-all duration-100">
        <a href="#Projects" class=" hoverable py-2 transition-all duration-100">Projects</a>
      </li>
      <li class="slide-tl-4 hover:scale-115 transition-all duration-100">
        <a href="#Education" class="hoverable py-2 transition-all duration-100">Education</a>
      </li>
    </ul>
  </div>

  <!-- Menu Toggle Button -->
  <button id="menu-toggle" class="md:hidden focus:outline-none text-white dark:text-gray-300 hover:cursor-pointer hover:text-white">
    <svg class="h-8 w-8" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
      <path d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>

  <!-- Mobile Navbar -->
  <div id="mobile-menu" class="fixed opacity-0 top-16 right-0 w-screen h-screen p-10 bg-white dark:bg-[#252525] dark:text-white py-5 shadow-lg fade-out-nav">
    <div class="flex flex-col items-center gap-5 w-full">
      <a href="#About" class="w-fit">About</a>
      <a href="#Experience" class="block">Experience</a>
      <a href=" #Projects" class="block">Projects</a>
      <a href="#Education" class="block">Education</a>
      <a href="/" class="block bg-black text-white dark:bg-gray-200 dark:text-black px-3 py-1 rounded-full">Contact Me</a>
      <ThemeToggleMobile class="mt-6"/>
    </div>
  </div>

  <ThemeToggle class="hidden md:flex"/>
</nav>

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  menuToggle?.addEventListener('click', () => {
    mobileMenu?.classList.remove('opacity-0');
    mobileMenu?.classList.toggle('fade-out-nav');
    mobileMenu?.classList.toggle('fade-in-nav');
  });
  mobileMenu?.addEventListener('click', (e) => {
    mobileMenu?.classList.toggle('fade-in-nav');
    mobileMenu?.classList.toggle('fade-out-nav');
  });

  
</script>