---
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import PhoneIcon from "../icons/PhoneIcon.astro";
---

<div id="Network" class="flex items-center mb-24 gap-4 text-gray-400">
    <a class="hover:text-gray-200" href=""><LinkedInIcon class="h-5.5 w-5.5"/></a>
    <a class="hover:text-gray-200" href=""><GithubIcon class="h-6 w-6"/></a>
    <a class="hover:text-gray-200" href=""><MailIcon class="h-7 w-7"/></a>
    <a class="hover:text-gray-200" href=""><PhoneIcon class="h-6 w-6"/></a>
</div>