---

---

<section id="Projects" class="flex flex-col gap-4">
  <h1 class="text-3xl font-bold mb-6">
    Projects
  </h1>
  <p class="text-md text-gray-400">
    Reprehenderit cillum adipisicing magna aute pariatur pariatur commodo officia et velit est. Reprehenderit mollit elit pariatur proident adipisicing. Eu qui aliqua commodo velit sint aliqua. Esse tempor do nulla occaecat incididunt ea nisi. Labore veniam exercitation cupidatat pariatur dolor minim nisi. Mollit eiusmod eu et est. Minim occaecat pariatur sint voluptate culpa minim aute.

    Minim laboris mollit est non in esse reprehenderit pariatur id ullamco nulla. Ea in quis tempor voluptate velit dolor do qui. Aute est amet voluptate irure Lorem nisi pariatur commodo sint tempor proident Lorem ipsum sit. Commodo Lorem ad eu mollit consectetur aliquip.

    Deserunt quis nisi culpa labore in ullamco magna ea officia esse do in cupidatat. Culpa nostrud occaecat est commodo non Lorem eiusmod occaecat et adipisicing. Amet eiusmod ex proident pariatur laboris ullamco incididunt. Sint sunt Lorem ipsum sint.

    Ipsum do aute laboris consequat veniam do. Cillum ea in anim velit mollit ex deserunt fugiat cupidatat ex. Aliquip ullamco in non exercitation amet occaecat sit enim ea cillum ut do. Laboris sunt culpa esse elit sint consequat do esse labore aute anim excepteur. Ex ullamco incididunt commodo enim.

    Est nulla tempor in elit Lorem. Amet aute ipsum est et amet ut labore culpa ad ad duis minim. Veniam commodo commodo elit ipsum commodo adipisicing duis id duis. Consectetur qui voluptate duis laborum voluptate aliquip cillum quis exercitation. Exercitation incididunt sunt exercitation sint. Consequat in qui duis amet nisi occaecat laborum irure id culpa pariatur. Et ad irure do adipisicing eiusmod adipisicing.

    Excepteur eu exercitation quis ipsum ex. Non nisi nulla ipsum excepteur commodo exercitation laborum ad adipi/sicing voluptate nisi. Tempor consequat elit labore incididunt laboris labore. Aute est id deserunt culpa amet culpa. Exercitation tempor sunt consectetur fugiat proident voluptate nostrud tempor id in quis. Lorem nostrud mollit exercitation proident proident aute qui adipisicing.
  </p>