---
import GithubIcon from "../icons/GithubIcon.astro";
import TechTag from "./TechTag.astro";
import type { TechnologyType } from "./types/tech_types";

const projects = [
  {
    title: "Rachet Clank",
    description: "Anim elit ipsum cupidatat exercitation eiusmod et. Ipsum anim ea occaecat non qui.",
    image: "https://i.imgur.com/t6dHMnl.jpeg",
    url: "https://www.playstation.com/es-mx/games/ratchet-and-clank/",
    tech: ['PYTHON', 'JAVASCRIPT', 'HTML']
  },
  {
    title: "Data Science",
    description: "Anim elit ipsum cupidatat exercitation eiusmod et. Ipsum anim ea occaecat non qui.",
    image: "https://i.imgur.com/vV2PVfl.png",
    url: "https://www.masterdatascienceucm.com/que-es-data-science/",
    tech: ['PYTHON', 'JAVASCRIPT', 'REACT']
  },
  {
    title: "Other Project",
    description: "Anim elit ipsum cupidatat exercitation eiusmod et. Ipsum anim ea occaecat non qui.",
    image: "https://i.imgur.com/vV2PVfl.png",
    url: "https://www.masterdatascienceucm.com/que-es-data-science/",
    tech: ['JAVASCRIPT', 'CSS', 'FASTAPI']
  }
];

---

<section id="Projects" class="flex flex-col gap-4">
  <h1 class="text-3xl font-bold mb-6">
    Projects
  </h1>

  <div class="flex flex-col gap-8 pl-4">
    {projects.map((project) => (
      <article class="flex flex-col rounded-2xl border border-gray-700 w-[90%] group hover:blur-none hover:cursor-pointer hover:border-gray-400 hover:scale-102 hover:shadow-2xl transition-all duration-200"
      style="position: relative; overflow: hidden;">
        <a 
          href={project.url}
          target="_blank"
          class="absolute inset-0 z-10"
          style="contain: strict;"
        ></a>
        <div class="w-[100%] h-[200px] overflow-hidden rounded-t-2xl">
          <img src={project.image} alt="Test Image" class="rounded-t-2xl w-full h-full object-cover group-hover:scale-115 transition-all duration-500"/>
        </div>
        <div class="flex flex-col p-4 gap-4">
          <div class="flex flex-row gap-2 w-full items-center justify-between">
            <h2 class="text-xl font-extrabold text-gray-200">
              {project.title}
            </h2>
            <a 
              href="https://github.com/lepcodes"
              target="_blank" 
              class="z-20 p-2 rounded-full hover:bg-[#42a19399] backdrop-blur-2xl opacity-90 hover:shadow-2xl"
              style="position: relative;">
              <GithubIcon class="h-5 text-white"/>
            </a>
          </div>
          <p class="text-base text-gray-400">
            {project.description}
          </p>
          <div class="flex flex-row gap-2 w-full">
            {project.tech.map((tech) => {
              return <TechTag tech={tech as TechnologyType}/>
            })}
          </div>
        </div>
      </article>
    ))}
  </div>
  

</section>